.home {
    height: 100%;
    width: 100%;
    background: $defaultbackground;
}

.tab {
    @include flex();
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    padding: 20px;

    .profile-img {
        // padding-right: 20px;
        @include flex($justify: flex-start);
        height: 50px;
        width: 50px;

        &>img {
            height: 40px;
            width: 40px;
            border-radius: 30%;
        }
    }

    .detail {
        flex-grow: 1;

        &>h3 {
            font-size: 19px;
            margin: 0;
        }
    }
}

.call-box-cover {
    width: 100%;

    padding: $sidepadding;

    .call-box {
        @include flex();
        width: 100%;
        padding: 8px;
        background: #fff;
        border-radius: 10px;
        
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    p {
        font-weight: 500;
        
    }
}
